<!DOCTYPE html>
<html lang=”en”>
<head>
<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
 body
 {
 background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwSxYjKzzE1OVK6CNCOOve4swwz1FwdP2IXg&usqp=CAU');
background-size:50%;
 background-align:left;
 background-size:cover;
 }
 p.big
 {
 font-size:20px;
 line-height:1.8;

 text-align:center;

 outline-style:;
 color:black;}
 h1
{
 color:black;
 }
</style>
</head>


<body>
<br>
<div class="container">
<div class="row">
<div class="col-md-12 bg-light text-right">
<a href="/home" class="btn btn-info btn-lg">Home</a>
<a href="/predict" class="btn btn-primary btn-lg">Predict</a>
</div>
</div>

<center>
<h1><strong>Liver Analysis</strong></h1><br>
<p class="big">The liver is a complex organ, but it is necessary to know its function within our body in order to take the required care and avoid suffering from liver diseases that affect our health and lifestyle. The liver is located under the diaphragm and crosses the abdominal cavity longitudinally. <br>
It weighs between 1.4 and 1.6 kilograms and measures about 10 centimeters.
This can vary according to the age and anatomy of the people. <br>
This organ is formed by a left lobe and a right lobe. The gallbladder is located at the level of the right lobe and acts as a reservoir for bile. In turn, it receives blood by two different routes: the hepatic artery, which supplies the blood coming from the heart, and the portal vein, which transports the blood sent from the intestine.
The hepatic veins are responsible for ensuring the evacuation of the blood. Liver function tests (also known as a liver panel) are blood tests that measure different enzymes, proteins, and other substances made by the liver. <br>
These tests check the overall health of your liver.
</p></center>
<br>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
